body{
	
	color:black;
	background: #fff3e0;
	
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu_container ul{
	list-style-type: none;
	display: flex;
}

.menu_container ul a{
	display: block;
	margin: 5px 10px;
}